body{
    background-color:rgb(10, 63, 133);
}

.barra{
    display: flex;
    background-color: rgb(252, 252, 252);
}

.barra a {
    color:rgb(0, 0, 0);
    padding:14px 20px;
    text-decoration: underline;
    text-align: center;
}

.parte1{
    width: 30%;
    float: right;
    background-color: chocolate;
    text-decoration: underline;
}

.parte1 p{
    margin: 20px;
}

.parte2{
    width:70%;
    background-color: blanchedalmond;
}

.parte2 h2{
    margin: 20px;
}

.parte2 p{
    margin: 20px;
}